<p id="notice"><%= notice %></p>

<% provide(:title, @usuario.nome) %>
<div class="row">
  <aside class="col-md-4">
    <section class="usuario_info">
<h1>
  <%= gravatar_for @usuario %>
  <%= @usuario.nome %>
</h1>
</section>
  </aside>
</div>
<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
